@import 'https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 18px;
	font-family: fredoka one, cursive;
	background-color: #041562
}

#seleccionar-mascota {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}

.titulo {
	display: flex;
	justify-content: center;
	color: #fff;
	font-size: 3rem;
	margin-bottom: 8rem;
}

.subtitulo {
	color: #fff;
	font-size: 3rem;
	margin-bottom: 5rem;
}

.tarjetas {
	display: flex;
	gap: 10px
}

.tarjeta-de-mokepon {
	width: 18rem;
    height: 22rem;
    background: #11468f;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
	align-items: center;
    color: #fff;
}

.tarjeta-de-mokepon img {
	width: 17rem;
	padding: 1rem;
}
.tarjeta-de-mokepon p{
	display: inline;
}

#boton-mascota {
    width: 16rem;
    height: 4rem;
    border-radius: 2rem;
    background: transparent;
    border: 2px solid white;
    color: white;
	margin-top: 2rem;
}

#boton-mascota:hover{
	color: #11468f;
	background: white;

}

#seleccionar-ataque{
	flex-direction: column;
	align-items: center;
}

.mensajes-vida {
	color: #fff;
	font-size: 2.5rem;
	margin-bottom: 5rem;
}

.botones-ataque{
	width: 100%;
	display: flex;
	justify-content: center;
}

.boton-ataque{
	width: 15rem;
    height: 5rem;
    border-radius: 2rem;
    font-size: 2rem;
    color: white;
    background: transparent;
	margin-left: 1rem;
	margin-right: 1rem;
}

#boton-fuego{
    border-color: orange;
}

#boton-agua{
    border-color: aqua;
}

#boton-tierra{
    border-color: brown;
}

#boton-fuego:hover{
	background-color: orange;
	color: black;
}

#boton-agua:hover{
	background-color: aqua;
	color: black;
}

#boton-tierra:hover{
	background-color: brown;
	color: black;
}

input {
	display: none
}

#resultado{
	background: white;
    margin: 2rem;
    width: 35rem;
    height: 10rem;
    display: flex;
    justify-content: space-around;
	flex-direction: column;
    font-size: 2rem;
    align-items: center;
    border-radius: 2rem;
    border: 0.2rem solid
}

#boton-reiniciar{
	width: 13rem;
    height: 3.5rem;
    border-radius: 1rem;
    font-size: 2rem;
    color: sandybrown;
    background: coral;
}