@import 'https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 18px;
	font-family: fredoka one, cursive;
	background-color: #041562
}

#seleccionar-mascota {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center
}

.titulo {
	display: flex;
	justify-content: center;
	color: #fff;
	font-size: 3rem;
	margin-bottom: 8rem;
}

.subtitulo {
	color: #fff;
	font-size: 3rem;
	margin-bottom: 5rem;
}

.tarjetas {
	display: flex;
	gap: 10px
}

.tarjeta-de-mokepon {
	width: 18rem;
    height: 22rem;
    background: #11468f;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
	align-items: center;
    color: #fff;
}

.tarjeta-de-mokepon img {
	width: 17rem;
	padding: 1rem;
}
.tarjeta-de-mokepon p{
	display: inline;
}

#boton-mascota {
    width: 16rem;
    height: 4rem;
    border-radius: 2rem;
    background: transparent;
    border: 2px solid white;
    color: white;
	margin-top: 2rem;
}

#boton-mascota:hover{
	color: #11468f;
	background: white;

}

#seleccionar-ataque{
	flex-direction: column;
	align-items: center;
}

.mensajes-vida {
	color: #fff;
	font-size: 2.5rem;
	margin-bottom: 5rem;
}

input {
	display: none
}